nav {
    position: fixed;
    top: 20px;
    left: 0;
    width: 10%;
    height: 20%;
    background-color: white;
}

nav button {
    position: block;
    height: 33%;
    margin: 0 auto;
    margin-top: 30%;
    background-color: white;
    border: white;
}

nav button img {
    max-width: 100%;
    max-height: 100%;
}

main {
    margin: 0 auto;
    left: 10%;
    width: 80%;
    text-align: center;
    background-color: cyan;
}

section {
    top: 10%;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 20px;
}

@media only screen and (min-width: 900px) {

}